.container-TaskItem {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto auto auto; /* Columnas para el texto y los botones */
    gap: 10px; /* Espaciado entre las columnas */
    align-items: center; /* Alinea los elementos en la parte superior del contenedor */
    word-break: break-word; /* Rompe la palabra si es muy larga para evitar desbordamiento */
  }
  
  .container-TaskItem p {
    margin: 0.5em; 
    white-space: pre-wrap; 
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.2em;
  }

