@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    font-size: 62.5%; /*Establecemos en 10px el tamaño de fuente del navegador por defecto*/
    color: #111111;
    font-family: 'Nunito Sans', sans-serif;
} 
